@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100;1,300&display=swap');

:root {
    background: #130a18;
}

body {
    color: #ffff;
}

.header {
    font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    height: auto;
    background: black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    -webkit-filter: drop-shadow(0px 3px 10px #A437DB);
    filter: drop-shadow(0px 0px px #A437DB);

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.buttons:hover {
    transform: scale(0.98);
}

/* Colors */
/* #BB84E8 */
/* #A437DB */